<a href="/lenders/destroy">Logout</a>

<h1>Name: <%= @borrower.first_name %> </h1>
<p>Amount Needed:<%= @balance %></p>
<p>Amount Raised:<%= @balance_raised %> </p>

<p>List of people who lend you money:</p>
<div>
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Amount Lent</th>
			
		</tr>
		<tr>
			<th></th>
		</tr>
	</table>
</div>
